<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">A propos</div>
              <p>Bonjour je m'apelle <strong>Berriri Sonia</strong> .Curieuse, autonome, organisée, j'ai une bonne
                capacité
                d'apprentissage et j'aime travailler en équipe. Actuellement,je suis à la recherche d'une alternance et je vient de terminer
                une formation intensive de 7 mois chez
                Simplon, développeuse web JavaScript Full Stack.
              <p>
               Amoureuse de l'innovation et de tout ce qui concerne la génération de nouvelles connaissances, faites face
               aux problèmes avec le sourire et résolvez-les dès que possible. Très calculé sur le temps que je passe et
               le travail que je fais.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date de naissance:</strong>
                </div>
                <div class="col-sm-8">Julliet 28, 1985</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">sonia85pro@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Téléphone:</strong>
                </div>
                <div class="col-sm-8">+33 695662895</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">52, rue de la chapelle 75018 Paris
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Français, Englais technique, Arabe</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>